.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log

# Backup files
*.backup

# Ansible
.vagrant/
*.retry
ansible/.vault_pass
ansible/inventory/hosts.ini.backup.*
ansible/.ansible_facts/
ansible/*.log

# Python
venv/
.env
__pycache__/

# OS
Thumbs.db
.DS_Store
