.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
.terraform.lock.hcl

# Backup files
*.backup
*.retry

# Ansible
ansible.cfg
.vagrant/

# Python
venv/
.env
__pycache__/

# OS
Thumbs.db
.DS_Store
