---
services:
  mealie:
    image: {{ mealie_image }}
    container_name: mealie
    restart: always
    ports:
      - "{{ mealie_host_port }}:{{ mealie_container_port }}"
    deploy:
      resources:
        limits:
          memory: {{ mealie_memory_limit }}
    volumes:
      - mealie-data:/app/data/
    env_file:
      - .env

volumes:
  mealie-data:
